
@model HomeViewModel;

@{ ViewData["Title"] = "Index"; }
<a class="menu-toggle rounded" href="#"><i class="fa fa-bars"></i></a>
<nav class="navbar navbar-light navbar-expand" id="sidebar-wrapper">
    <div class="container">
        <button data-toggle="collapse" class="navbar-toggler d-none" data-target="#"></button>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav sidebar-nav" id="sidebar-nav">
                <li class="nav-item sidebar-brand"><a class="nav-link active js-scroll-trigger" href="#page-top">Tareq</a></li>
                <li class="nav-item sidebar-nav-item"><a class="nav-link js-scroll-trigger" href="#page-top">Home</a></li>
                <li class="nav-item sidebar-nav-item"><a class="nav-link js-scroll-trigger" href="#about">About</a></li>
                <li class="nav-item sidebar-nav-item"><a class="nav-link js-scroll-trigger" href="#services">Services</a></li>
                <li class="nav-item sidebar-nav-item"><a class="nav-link js-scroll-trigger" href="#portfolio">Portfolio</a></li>
                <li class="nav-item sidebar-nav-item"><a class="nav-link js-scroll-trigger" href="#contact">Contact</a></li>
            </ul>
        </div>
    </div>






</nav>
<header class="d-flex justify-content-xl-center align-items-xl-start masthead wellbg" style="background-image: url('../../img/Wall.jpg'); filter: blur(0px) brightness(80%) contrast(151%); text-align: center; ">
    <div class="container text-center my-auto">
        <h1 class="flex-column justify-content-center align-items-center mb-1" style="color: rgb(241,241,241);">
            <img class="border rounded-circle border-dark float-none d-xl-flex flex-column justify-content-center align-items-center align-content-center align-self-center m-auto justify-content-xl-center align-items-xl-center"
                 style="text-align: center;height: 204px;width: 229.75px;filter: brightness(108%) contrast(52%) saturate(126%);" src="~/img/@Model.owner.Avater">@Model.owner.FullName
            </h1>
            <h3 class="mb-5"><em style="color: rgb(255,199,0);">@Model.owner.Profil</em></h3>
            <div class="overlay"></div>
        </div>
    </header>
    <section class="bg-light content-section" id="about" style="background: repeating-linear-gradient(-26deg, rgb(204,189,189) 24%, rgb(204,189,189) 25%, rgb(204,189,189) 37%, rgb(204,189,189) 62%, rgb(231,224,224) 85%, white 100%), rgb(9,113,217);"></section>
    <section class="text-center text-white content-section" id="services" style="background-image: url('../../img/333.jpg');, #ffffff;">
        <div class="container">
            <div class="content-section-heading">
                <h3 class="text-secondary mb-0">Services</h3>
                <h2 class="mb-5">What We Offer</h2>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
                    <span class="mx-auto service-icon rounded-circle mb-3"><i class="icon-screen-smartphone"></i></span>
                    <h4><strong>Responsive</strong></h4>
                    <p class="mb-0 text-faded">Looks great on any screen size!</p>
                </div>
                <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
                    <span class="mx-auto service-icon rounded-circle mb-3"><i class="icon-pencil"></i></span>
                    <h4><strong>Redesigned</strong></h4>
                    <p class="mb-0 text-faded">Freshly redesigned for Bootstrap 4.</p>
                </div>
                <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
                    <span class="mx-auto service-icon rounded-circle mb-3"><i class="icon-like"></i></span>
                    <h4><strong>Favorited</strong></h4>
                    <p class="mb-0 text-faded"><span>Milions of users&nbsp;</span><i class="fa fa-heart"></i><span>&nbsp;us!</span></p>
                </div>
                <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
                    <span class="mx-auto service-icon rounded-circle mb-3"><i class="icon-mustache"></i></span>
                    <h4><strong>Question</strong></h4>
                    <p class="mb-0 text-faded">I mustache you a question...</p>
                </div>
            </div>
        </div>
    </section>
    <section class="callout" style="background-image: url('../../img/4444.jpg');">
        <div class="container text-center">
            <h2 class="mx-auto mb-5"><span>Welcome to&nbsp;</span><em>My Lib</em></h2><a class="btn btn-primary btn-xl" role="button" href="#contact">Books</a>
        </div>
    </section>
    <section id="portfolio" class="content-section">
        <div class="container">
            <div class="text-center content-section-heading">
                <h3 class="text-secondary mb-0">Portfolio</h3>
                <h2 class="mb-5">Recent Projects</h2>
            </div>
            <div class="row no-gutters">
                <div class="col-lg-6">
                    <a class="portfolio-item" href="#">
                        <div class="caption">
                            <div class="caption-content">
                                <h2 style="height: 40px;letter-spacing: 3px;line-height: 20px;text-align: left;font-style: italic;"><i class="fa fa-github" style="width: 39.9844px;height: 39px;font-size: 39.8px;text-align: center;color: rgb(255,255,255);"></i>&nbsp;GitHub</h2>
                                <p class="mb-0">A yellow pencil with envelopes on a clean, blue backdrop!</p>
                            </div>
                        </div><img class="img-fluid" src="~/assets/img/portfolio-1.jpg">
                    </a>
                </div>
                <div class="col-lg-6">
                    <a class="portfolio-item" href="#">
                        <div class="caption">
                            <div class="caption-content">
                                <h2 style="height: 40px;text-align: left;letter-spacing: 3px;"><i class="fa fa-github" style="font-size: 40.8px;color: rgb(255,255,255);"></i>&nbsp; &nbsp;<strong><em>GITHUB</em></strong><br><br><br><br><br></h2>
                                <p class="mb-0">A dark blue background with a colored pencil, a clip, and a tiny ice cream cone!</p>
                            </div>
                        </div><img class="img-fluid" src="~/assets/img/portfolio-2.jpg">
                    </a>
                </div>
                <div class="col-lg-6">
                    <a class="portfolio-item" href="#">
                        <div class="caption">
                            <div class="caption-content">
                                <h2>Strawberries</h2>
                                <p class="mb-0">Strawberries are such a tasty snack, especially with a little sugar on top!</p>
                            </div>
                        </div><img class="img-fluid" src="~/assets/img/portfolio-3.jpg">
                    </a>
                </div>
                <div class="col-lg-6">
                    <a class="portfolio-item" href="#">
                        <div class="caption">
                            <div class="caption-content">
                                <h2 style="height: 40px;margin: 0;font-size: 33.8px;"><i class="fa fa-github" style="font-size: 45;letter-spacing: 3px;line-height: 6.8px;height: 3px;"></i>&nbsp;&nbsp;<strong><em>GITHUB</em></strong><br><br></h2>
                                <p class="mb-0">A yellow workspace with some scissors, pencils, and other objects.</p>
                            </div>
                        </div><img class="img-fluid" src="~/assets/img/portfolio-4.jpg">
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="text-white bg-primary content-section" style="background: url(&quot;~/assets/img/5555.jpg&quot;);">
        <div class="container text-center">
            <h2 class="mb-4">Thank you to visit my portfolio :)</h2><a class="btn btn-dark btn-xl mr-4" role="button" href="#">Contect</a>
        </div>
    </section>
    <section id="contact" class="map">
        <div class="simple-slider">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" style="background: url(&quot;https://cdn.bootstrapstudio.io/placeholders/1400x800.png&quot;) center center / cover no-repeat;width: 100;"></div>
                    <div class="swiper-slide" style="background: url(&quot;https://cdn.bootstrapstudio.io/placeholders/1400x800.png&quot;) center center / cover no-repeat;"></div>
                    <div class="swiper-slide" style="background: url(&quot;https://cdn.bootstrapstudio.io/placeholders/1400x800.png&quot;) center center / cover no-repeat;"></div>
                </div>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
    </section>
    <footer class="text-center footer">
        <div class="container">
            <ul class="list-inline mb-5">
                <li class="list-inline-item">&nbsp;<a class="text-white social-link rounded-circle" href="#"><i class="icon-social-facebook"></i></a></li>
                <li class="list-inline-item">&nbsp;<a class="text-white social-link rounded-circle" href="#"><i class="icon-social-twitter"></i></a></li>
                <li class="list-inline-item">&nbsp;<a class="text-white social-link rounded-circle" href="#"><i class="icon-social-github"></i></a></li>
            </ul>
            <p class="text-muted mb-0 small">Copyright &nbsp;© Tareq 2021</p>
        </div><a class="js-scroll-trigger scroll-to-top rounded" href="#page-top"><i class="fa fa-angle-up"></i></a>
    </footer>
